.custom-scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #000;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.dark-scroll {
  scrollbar-color: #fff transparent;
}

.dark-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.dark-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5;
}

.light-scroll {
  scrollbar-color: #212529 transparent;
}

.light-scroll::-webkit-scrollbar-thumb {
  background-color: #212529;
}

.light-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}